# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build

/run

/mirage-server/build.gradle.kts
/mirage-server/src/minecraft
/mirage-api/build.gradle.kts
/paper-server
/paper-api
/paper-api-generator

.idea/
